<%# app/views/collections/components/_aside-filter.html.erb %>

<aside class="border-2 border-white rounded-lg p-4">
  <h2 class="text-center">
    Filtrer les produits
  </h2>

  <div data-controller="filter--checkbox-submit" class="sticky top-4">
    <%= search_form_for q, url: collection_path(collection), data: { filter__checkbox_submit_target: "form" } do |f| %>

      <div class="mt-4 mb-2">
        <%= f.label :category_id_in, "Catégorie" %>
      </div>

      <ul class="flex gap-2 flex-wrap">
        <%= f.collection_check_boxes :category_id_in, categories, :id, :name, { include_blank: "Toutes les catégories" } do |cb| %>

          <li>
            <%= cb.check_box data: {
              action: "change->filter--checkbox-submit#filterCategory",
              filter__checkbox_submit_target: "checkbox" },
              class: "hidden" %>
            <%= cb.label data: { filter__checkbox_submit_target: "label" },
                        class: "cursor-pointer bg-gray-600 px-4 py-2 rounded-xl hover:bg-orange-600 transition hover:duration-150 block" %>
          </li>

        <% end %>
      </ul>

    <% end %>
  </div>

</aside>

<%# render 'collections/components/aside-filter' %>
