<h1 class="text-center text-2xl font-bold my-4">

  <%= @category.name %>
</h1>

<div class="text-center space-x-4">
  <%= link_to "Modifier", edit_category_path(@category), class: "bg-blue-800 px-4 py-2 rounded-sm hover:bg-blue-700 transition hover:duration-300" %>
  <%= link_to "Supprimer", category_path(@category), data: {turbo_method: :delete, turbo_confirm: "Supprimer la catégorie ?"}, class: "bg-red-800 px-4 py-2 rounded-sm hover:bg-red-700 transition hover:duration-300" %>
</div>

<div class="flex justify-center my-4">
  <% if @category.photo.attached? %>
    <%= cl_image_tag @category.photo.key, width: 240, height: 240, class: "rounded-lg" %>
  <% else %>
    <p>Pas de photo</p>
  <% end %>
</div>

<main class="grid grid-cols-4 gap-4 my-8">

  <%= render 'layouts/filter/aside-filter' %>
  <%= render 'products/products-grid', products: @category.products %>

</main>
