<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Emarket Draft" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <%# view transition %>
    <meta name="view-transition" content="same-origin" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body class="bg-[#242424] text-white">
    <%= render 'layouts/navbar/navbar' %>
    <%= yield %>

    <%= render 'layouts/notifications/notice' %>
    <%= render 'layouts/notifications/success' %>
    <%= render 'layouts/notifications/alert' %>

    <%= render 'layouts/footer/footer' %>
  </body>
</html>
